<ng-container *ngIf="!loader; else loading">
  <div class="search-container">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search by gif title"
        [(ngModel)]="searchtext"
      />
      <div class="search-icon">
        <img
          src="../../../assets/images/close.svg"
          alt=""
          class="close-icon"
          *ngIf="searchtext"
          (click)="closeSearch()"
        />
        <img
          src="../../../assets/images/icons8-search.svg"
          alt=""
          (click)="searchBtnGif()"
        />
      </div>
    </div>
  </div>
  <div class="list-container">
    <h2 class="list-heading">Trending GIFs</h2>
    <div class="gif-list">
      <ng-container *ngFor="let gif of gifList">
        <div class="gif-image">
          <img [src]="gif.image" alt="" />
          <p class="gif-title" *ngIf="gif.profileImg || gif.userName">
            <img [src]="gif.profileImg" alt="" class="profile" />
            {{ gif.userName }}
          </p>
        </div>
      </ng-container>
    </div>
    <div class="action-btns">
      <span class="current-page">{{ "< " + currentPage + " >" }}</span>
      <button (click)="goPrev()" [disabled]="currentPage === 1">Prev</button>
      <button (click)="goNext()">Next</button>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="loader">
    <img
      src="https://media0.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif?cid=ecf05e47lqm0tipkfe38fn484ylx3ly9d3dla49uyot315nw&rid=giphy.gif&ct=g.jpg"
      alt=""
    />
  </div>
</ng-template>
