<div class="list-container">
  <div class="search-container">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search by gif title"
        [(ngModel)]="searchtext"
      />
      <div class="search-icon" (click)="searchGif()">
        <img src="../../../assets/images/icons8-search.svg" alt="" />
      </div>
    </div>
  </div>
  <h2 class="list-heading">Trending GIFs</h2>
  <div class="gif-list">
    <ng-container *ngFor="let url of gifList">
      <div class="gif-image">
        <img [src]="url" alt="" />
      </div>
    </ng-container>
  </div>
</div>
